//
// File for definition of all colors used in this project.
//

// Common colors
$color-black: #000000;
$color-white: #ffffff;

// Primary colors
$color-pink: #e3cfcf;
$color-blue: #0273e5;
$color-beige: #f3ede5;

// Secondary colors
$color-grey-dark: #222222;
